@charset "utf-8";

/*全体*/
.wrapper {
    /* max-width: 600px; */
    margin: 0 auto;
    color: #920101;
    /* margin-top: 50px; */
}
header {
    display: flex;
}
header h1 a {
    color: #920101;
    margin: 0 0;
    text-decoration: none;
}
/* .home a {
    color: #920101;
    margin-top: 30px;
    margin-left: 1000px;
    text-decoration: none;
} */
#header {
    text-align: center;
    font-size: 24px;
    margin: 1rem 0 0;
}
h2 a {
    color: #920101;
    text-decoration: none;
}

.choose {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.choose-a {
    border: 1px solid #eee;
    padding: 10px 40px;
    position: relative;
    /* margin: 0 30px; */
}
.choose-a a {
    text-decoration: none;
    color: #920101;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
td {
    text-align: left;
    height: 90px;
    vertical-align: top;
    width: 165px;
}
th, td {
    /* input全面に広げたい */
    outline: 1px solid #ddd;
    /* text-align: left; */
    /* vertical-align: top; */
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #920101;
    color: #fff;
    /*ここダサいから変えといて*/
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button {
    cursor: pointer;
    background: #920101;
    color: #fff;
    border: 1px solid #920101;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover {
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}
.addactivity button{
    margin-top: 20px;
    font-size: 60px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #920101;
}
.contents {
    background-color: rgb(101, 101, 226);
    border-radius: 5px;
    padding: 5px 0;
    text-align: left;
    padding-right: 70%;
    color: white;
}